#title {
    text-align: center;
    color: green;
}
#gameContainer {
    margin-top: 100px;
    text-align: center;
}

#gameBoard {
    border: 3px solid;
    border-color: black;
}

#scoreText {
    font-size: 50px;
    font-family: "Permanent Marker",cursive;
}


#resetBtn {
    font-size: 25px;
    font-family: "Permanent Marker",cursive;
    border: 3px solid;
    width: 100px;
    height: 50px;
    border-color: black;
    border-radius: 15px;
}


